@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

//Primary 
$strongCyan: hsl(172, 67%, 45%);

//Neutral
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan2: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//warning 
$error: hsl(0, 91.4%, 68.2%);